body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left,
            #274B74,
            #8233C5,
            #E963FD);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm {
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.329);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(255, 187, 0, 0.844);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* What happens when you hover the button, access the pseudoclass */
button[type="submit"]:hover {
    background-color: rgb(255, 174, 0);
}

.card {
    background: linear-gradient(to bottom,
            #f6c667 0%,
            /* light warm yellow */
            #f2a65a 50%,
            /* soft orange */
            #e8896a 100%
            /* slightly pinkish orange */
        );
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.497);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
    color: snow;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay,
.tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(255, 250, 250, 0.729);
    margin-bottom: 25px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
    color: rgba(255, 250, 250, 0.729);
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(255, 250, 250, 0.729);
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay {
    font-size: 2.5rem;
    color: rgba(255, 250, 250, 0.729);
}